.game section[role=main] {
    margin: auto;
    
    margin-top: 25px;
    width: 895px;
    height: 560px;
}


#gameColumn {
    float: left;
    width: 556px;
    height: 556px;

    background-color: #F96400;
    padding: 2px;
}

#board {
    background-color: black;
}

#infoColumn {
    float: left;
    margin-left: 30px;
    width: 300px;
    height: 560px;
}

div.options {
    width: 300px;
    margin-bottom: 30px;
    background-color: #F96400;
}
button.options {
    float: left;
}

div.marker {
    float: left;
    height: 100%;
}
img.marker {
    height: 74px;
    width: 74px;
}
p.marker {
    margin: 11px 0px;
}

#flows {
    text-align: right;
}
#fill {
    text-align: right;
}
#best {
    text-align: left;
}
#moves {
    text-align: left;
}


#commercials {
    width: 300px;
    height: 250px;
    margin-top: 30px;
}





@media screen and (-ms-view-state: snapped) {
    .game section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .game section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}