<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="52167UnityMakesSoftware.Doterama" Version="1.0.0.1" Publisher="CN=4E351D62-B85C-426F-98A1-5108FC0E88E7" />
  <Properties>
    <DisplayName>Doterama</DisplayName>
    <PublisherDisplayName>Unity Makes Software</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Doterama" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Doterama is a puzzle game whose aim is to connect each pair of matching color dots to create a continuous flow. Pair all colors and fill the entire board. Enhance your mind solving different difficulty modes, from easy and simple to challenging and really hard. New levels and game modes will be added soon." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="images\widelogo.png" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>