.level_selection section[role=main] {
    margin-top: 20px;
    margin-left: -70px;
    margin-right: -70px;
    height: 550px;

    overflow-y: hidden;
    overflow-x: scroll;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    scrollbar-base-color: #F96400;
}


div.level_category {
    float: left;
    width: 450px;
    height: 550px;
    margin: 25px;
}

div.level_category_title {
    margin: 0px 10px;
    height: 45px;
    padding-bottom: 10px;
}

div.level_category_items {
    width: 100%;
    height: 100%;
}

div.level_item {
    float: left;
    width: 70px;
    height: 70px;
    margin: 10px;
    background-size: 100% 100%;
}
div.level_item:hover {
    background-color: transparent;
}

.gold {
    background-image: url(/images/level/trophy_gold.png);
}
.silver {
    background-image: url(/images/level/trophy_silver.png);
}
.bronze {
    background-image: url(/images/level/trophy_bronze.png);
}
.empty {
    background-image: url(/images/level/empty.png);
}

.type0 {
    background-color: #E51400;
}
.type0:hover {
    background-image: url(/images/level/play_0.png);
}
.type1 {
    background-color: #F0A30A;
}
.type1:hover {
    background-image: url(/images/level/play_1.png);
}
.type2 {
    background-color: #00A000;
}
.type2:hover {
    background-image: url(/images/level/play_2.png);
}
.type3 {
    background-color: #1FAEFF;
}
.type3:hover {
    background-image: url(/images/level/play_3.png);
}
.type4 {
    background-color: #DA46DA;
}
.type4:hover {
    background-image: url(/images/level/play_4.png);
}
.type5 {
    background-color: #647687;
}
.type5:hover {
    background-image: url(/images/level/play_5.png);
}
.type6 {
    background-color: #8C0020;
}
.type6:hover {
    background-image: url(/images/level/play_6.png);
}
.type7 {
    background-color: #FF0089;
}
.type7:hover {
    background-image: url(/images/level/play_7.png);
}
.type8 {
    background-color: #163D0C;
}
.type8:hover {
    background-image: url(/images/level/play_8.png);
}
.type9 {
    background-color: #300073;
}
.type9:hover {
    background-image: url(/images/level/play_9.png);
}
.type10 {
    background-color: #FFFFFF;
}
.type10:hover {
    background-image: url(/images/level/play_10.png);
}
.type11 {
    background-color: #F56600;
}
.type11:hover {
    background-image: url(/images/level/play_11.png);
}
.type12 {
    background-color: #825A2C;
}
.type12:hover {
    background-image: url(/images/level/play_12.png);
}
.type13 {
    background-color: #310E43;
}
.type13:hover {
    background-image: url(/images/level/play_13.png);
}
.type14 {
    background-color: #BDB76B;
}
.type14:hover {
    background-image: url(/images/level/play_14.png);
}
.type15 {
    background-color: #FFFF00;
}
.type15:hover {
    background-image: url(/images/level/play_15.png);
}
.type16 {
    background-color: #0900FF;
}
.type16:hover {
    background-image: url(/images/level/play_16.png);
}
.type17 {
    background-color: #00FFBC;
}
.type17:hover {
    background-image: url(/images/level/play_17.png);
}
.type18 {
    background-color: #FF7D7D;
}
.type18:hover {
    background-image: url(/images/level/play_18.png);
}
.type19 {
    background-color: #C7C7C7;
}
.type19:hover {
    background-image: url(/images/level/play_19.png);
}


.overlay_level_item {
    margin-top: 45px;
    width: 70px;
    height: 25px;
    text-align: right;
}




@media screen and (-ms-view-state: snapped) {
    h1.titlearea {
        margin-top: -650px;
    }
    .level_selection section[role=main] {
        margin-left: 100px;
        height: 2000px;

        overflow-y: scroll;
        overflow-x: hidden;
        -ms-flex-direction: column;
    }

    div.level_category {
        width: 800px;
        height: 900px;
    }

    div.level_item {
        width: 140px;
        height: 140px;
    }

    .overlay_level_item {
        margin-top: 115px;
        width: 140px;
        height: 25px;
    }
}

@media screen and (-ms-view-state: filled) {
    .level_selection section[role=main] {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    h1.titlearea {
        margin-top: -500px;
    }

    .level_selection section[role=main] {
        margin-left: 100px;
        height: 1600px;

        overflow-y: scroll;
        overflow-x: hidden;
        -ms-flex-direction: column;
    }

    div.level_category {
        width: 800px;
        height: 900px;
    }

    div.level_item {
        width: 140px;
        height: 140px;
    }

    .overlay_level_item {
        margin-top: 115px;
        width: 140px;
        height: 25px;
    }
}